
@font-face {
    font-family: 'Prata';
    src: url('Prata-Regular.woff2') format('woff2'),
        url('Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PT Sans Regular';
    src: url('PTSans-Regular.woff2') format('woff2'),
        url('PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


 * {
  
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  font-family: 'PT Sans Regular', sans-serif;
}

body {
  display: block;
  margin: 0;
  width: 100%;
  background-color: #f9fcfc;
}

.title {
  font-family: 'Prata', serif;
  font-weight: 100;
  color: #021a23;
  letter-spacing: 2px;
  font-size: 50px;
  width: 570px;
  border-top: 2px solid #eec643;
  border-bottom: 2px solid #eec643;
  
  }

}




.header {

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /*z-index: 1;*/
}


.logo_title {
  color: #eec643;
  font-family: 'Prata', serif;
  font-size: 30px;
 

}

.nav_list {
  margin-left: 50%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  


}



.nav_link {
  
  color: #021a23;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 100;
}

/*Promo*/


.promo {
  display: flex;
  background-image: url(../img/bg_main.jpg);
  background-size: 100%;
  margin: 0 auto;
  position: relative;
  background-repeat: no-repeat;
  padding: 295px;
}

.promo_blog {
 width: 1170px; 

}

.main_promo {

  display: flex;
  width: 1170px;
}

.form {
  width: 270px;
  background-color: #fff;
  opacity: 0.8;
  border: 1px solid #000;

}



.promo_title {
  font-family: 'Prata', serif;
  font-size: 55px;
  font-weight: 100;
  line-height: 55px;
  color: #f9fcfc;
  letter-spacing: 2px;
}

.promo_text {
  padding-top: 35px;
  font-size: 20px;
  line-height: 28px;
  color: #f9fcfc;
  font-weight: 100;
}

/*Directions*/


.directions {
  padding-top: 90px;
  position: relative;

 
}


.container {
  width: 1170px;
  margin: 0 auto;
}

.directions_title {
  width: 570px;
  border-top: 2px solid #eec643;
  border-bottom: 2px solid #eec643;
  position: absolute;
  transform: rotate(-90deg);
  top: 400px;
  left: -200px;
  }

.directions_set {
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  
}

.directions_card {
  margin: 15px;
  color: #f9fcfc;

}

.directions_card-title {
  font-size: 30px;
  font-weight: 700;
  margin-left: 15px;

}

.directions_card-text {
  margin-top: 27px;
  font-size: 20px;
  font-weight: 100;
  margin-left: 15px;

}


.directions_card-guitar {

  width: 470px;
  height: 270px;
  background-image: url(../img/directions_card_img_1.jpg);
  background-size: 100%;
  
}

.directions_price {
  margin-left: 15px;


}



.directions_card-vocal {
  width: 570px;
  height: 270px;
  background-image: url(../img/directions_card_img_2.jpg);
  background-size: 100%;
}

.directions_card-piano {
  width: 470px;
  height: 270px;
  background-image: url(../img/directions_card_img_3.jpg);
  background-size: 100%;
}

.directions_card-lectures {
  width: 270px;
  height: 270px;
  background-image: url(../img/directions_card_img_4.jpg);
  background-size: 100%;
}

.directions_card-all {
  width: 270px;
  height: 270px;
  background-color: #eec643;
  margin-top: 15px;
  margin-left: 15px;
}


/*Pace*/

.pace_title{
  width: 570px;
  border-top: 2px solid #eec643;
  border-bottom: 2px solid #eec643;
  position: absolute;

}

.news {
  display: flex;
  color: #f9fcfc;

}



.news_card-composition {
  margin-top: 100px;
  width: 270px;
  height: 470px;
  background-image: url(../img/advantages_card_img_1.jpg);
  /*background-size: 100%;*/
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 30px;
  



}

.news_card-result {
  margin-top:100px;
  width: 270px;
  height: 470px;
  background-image: url(../img/advantages_card_img_2.jpg);
  /*background-size: 100%;*/
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 30px;
  
  
}

.news_card-studio {
  height: 570px;
  width: 270px;
  
  background-image: url(../img/advantages_card_img_3.jpg);
  /*background-size: 100%;*/
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 30px;

}








